//1132px 이상부터 적용
@media (min-width:1132px){
  .display-section{
    text-align: left;
    .sec-tit{
      float: left;
      width: 20%;
      margin-bottom: 0;
    }
    .desc{
      width: 80%;
      float: right;
      padding-left: 20px;
      box-sizing: border-box;
      position: relative;
      
      //가짜속성으로 구분선 생성
      &::before{
        display: block;
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 2px;
        height: 44px;
        background-color: #e0e0e0;
      }
    }
  }
  //프로모션 부분
  .promotion-section{
    .promo-list{
      li{
        width: 23.6749%;
        margin-left: 1.7667%; //사이 여백을 줄임
      }
    }
  }
  //work 부분
  .work-section{
    .sec-tit{
      text-align: left;
    }
    .work-list{
      li{
        width: 25%; //4개로 정렬되로록 넓이를 설정
      }
    }
  }
  //블로그 부분
  .blog-section{
    .sec-tit{
      float: left;
      margin-bottom: 0;
    }
    .blog-list{
      float: right;
      width: 74.5583%;  //일렬로 정렬되로록 넓이 설정( 844/1132*100 = 74.5583 )
      li{
        //넓이 구하기 -> (268 / 844) * 100 = 31.7535
        width: 31.7535%;
        margin-left: 2.3696%;
      }
    }
  }
  //contact 부분
  .contact-section{
    .sec-tit{
      float: left;
      margin-bottom: 0;
    }
    .form-box{
      float: right;
      width: 74.5583%;
      .form, .textarea{
        //width : 412px
        width: 48.8151%;
      }
      .form{
        margin-right: 2.3696%;
      }
    }
  }
}